.inline-block {
  display: inline-block;
  width: 50%;
}

.block-display {
  display: block;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.emotions-picker {
  width: 100%;
  display: block;
}

.emotions-picker > img {
  width: 100%;
}

.emotions-picker > img:hover {
  cursor: crosshair;
}

div[role="presentation"] div[role="document"] {
  width: 100%;
  text-align: center;
  color: white;
  height: 500px;
}

div[role="presentation"] div[role="document"] label {
  width: 100%;
  color: white;
  font-size: 40px;
  text-align: center;
  /* top: 56px !important; */
}